body{
    background: linear-gradient(90deg,rgba(216, 238, 233) 10%, white 90%);
    margin-top:20px;
}

#navBar{
    color:rgb(122, 205, 122);
    font-weight: bolder;
    font-size: 60px;
    margin-left: 6vw;
}
#navbarHome{
    margin-left: 11vw;
}
.navbarSub{
    font-size:40%;
    color: rgba(0,0,0,.5);
    margin-right:2vw;
    font-weight: normal;
}
.navbarSub:hover{
    color:black;
    cursor: pointer;
    margin-bottom: 2px;
    box-shadow: 10;
}
#login{
    margin-left: 10vw;
}
#SignUp{
    background-color: rgba(11, 201, 36, 0.5);
   padding:20px;
}
pre {
    text-align: left;
    font-size: 80px;
}
pre#fire {
    font-size: 20px;
    margin-top: 85px;
}
.parent {
    display: flex;
}
pre#f2 {
    font-size: 20px;
}
img.f1 {
    margin-bottom: 100px;
}
span#giga {
    color: white;
    background-color: lightgreen;
    border-radius: padd;
    padding: 10px;
    cursor: pointer;
}